<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="APT2012.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="infragistics.web" type="System.Configuration.SingleTagSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler" />
  </configSections>
  <infragistics.web styleSetName="Default" styleSetPath="~/ig_res" />
  <appSettings>
    <clear />
    <add key="smtpserver" value="82.195.128.132" />
    <add key="fromemail" value="aptonline@alliedpensions.com" />
    <add key="fromemailname" value="APT Online" />
    <add key="toemail" value="website@alliedpensions.com" />
    <add key="emailUserName" value="APT2000\byrneb" />
    <add key="emailPassword" value="APT2011" />
    <add key="SiteTitle" value="APT Online" />

    <add key="ServerName" value="localhost" />
    <add key="DatabaseName" value="APT2012" />
    <add key="SQLUserId" value="sa" />
    <add key="SQLUserPassword" value="Pension1" />

    <add key="ReportServerUrl" value="http://RICHARDSONT/ReportServer" />
    <add key="ReportServerUser" value="RICHARDSONT" />
    <add key="ReportServerPassword" value="G0lf6sfun" />
    <add key="ReportServerDomain" value="APT2000" />

    <add key="LetterSigningName" value="Kirstyn Switzer" />
    <add key="log4netFile" value="E:\APTSITES\APTLOG\APT2012.dll.log4net" />
    <add key="LogToDB" value="true" />


    <!-- UserNameStartWith Setting for IPPP mini website-->
    <add key="UserNamePrefix" value="IP-" />
    <add key="EmailSuccess" value="Mail Sent Successfully." />
    <add key="IPPP_Contact_Email" value="ALambe@alliedpensions.com" />
    <add key="IPPP_Options_Recipient_Email" value="ALambe@alliedpensions.com" />
    <add key="IPPP_Contact_Subject" value="IP Pension Plan Contact Mail" />
    <add key="IPPP_Options_Email_Subject" value="IP Pension Plan - Web originated eMail" />
    <add key="IPPP_Options_Email_A" value="A" />
    <add key="IPPP_Options_Email_B" value="B" />
    <add key="IPPP_Options_Email_C" value="C" />
    <add key="IPPP_Options_Email_D" value="D" />
    <add key="LogOutURL" value="http:\\www.alliedpensions.com" />
    <add key="SuccessMessage" value="Updated Successfully." />
    <add key="UnSuccessMessage" value="Not Updated Successfully." />
    <add key="PesonalDetailMessage" value="Your personal details were last updated #by_whom at #time on #date" />
    <add key="ServiceRecordsMessage" value="Your service record was last updated by the Administrators at #time on #date" />
    <add key="AmendmentRecordsMessage" value="You submitted amendments at #time on #date which we will verify with your employer. Your service record will be updated once verification has been received." />
    <add key="by_whom_member" value="online" />
    <add key="by_whom_APT" value="by the administrators" />
    <add key="correctdetails" value="I confirm my Service Record is correct" />
    <add key="incorrectdetails" value="No – my Service Record is NOT correct" />
    <add key="submitButtonCaption" value="Submit your details" />
    <add key="reviewMessage1" value="Please check your personal and service record details and amend if appropriate. You should also update your email and telephone details, to allow us to contact you more efficiently." />
    <add key="reviewMessage2" value="You need to confirm your service record details are correct before you can submit any changes to us." />
    <add key="reviewMessage3" value="Changes to your service record will be verified with your employer." />
    <!-- Ends-->
    
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="LocalSqlServer" connectionString="Data Source=localhost;Initial Catalog=APT2012;Trusted_Connection=false;User Id=sa;Password=Pension1;Integrated Security=false" />
    <add name="APT2012Entities" connectionString="metadata=res://*/APT2012Model.csdl|res://*/APT2012Model.ssdl|res://*/APT2012Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=APT2012;Trusted_Connection=No;User Id=sa;Password=Pension1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="IPPPEntities" connectionString="metadata=res://*/IPPPDataModel.csdl|res://*/IPPPDataModel.ssdl|res://*/IPPPDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=IPPP;user id=sa;password=Pension1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <location path="APTTHEME">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="APTTHEME/APT01/images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Maintenance.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SchemeOverview.aspx">
    <system.web>
      <authorization>
        <allow roles="Scheme Admin, APT Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Trustee">
    <system.web>
      <authorization>
        <allow roles="Scheme Admin, APT Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="lost-details.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="account-suspended.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RequestComplete.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Default.aspx" />
    <httpRuntime executionTimeout="360" />
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <clear />
        <add name="XmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    <globalization culture="en-IE" uiCulture="en-IE" />
    <profile enabled="true" defaultProvider="TableProfileProvider">
      <providers>
        <clear />
        <add name="TableProfileProvider" type="APT2012.SqlTableProfileProvider" connectionStringName="LocalSqlServer" table="aspnet_Profile" applicationName="/" />
        <add name="StoredProcedureProfileProvider" type="APT2012.SqlStoredProcedureProfileProvider" connectionStringName="LocalSqlServer" setProcedure="setCustomProfileData" readProcedure="getCustomProfileData" applicationName="/" />
      </providers>
      <properties>
        <clear />
        <add name="MemberId" type="int" customProviderData="MemberId;int" />
        <add name="SchemeId" type="int" customProviderData="SchemeId;int" />
        <add name="FirstName" defaultValue="" customProviderData="FirstName;nvarchar" />
        <add name="LastName" defaultValue="" customProviderData="LastName;nvarchar" />
        <add name="Address1" defaultValue="" customProviderData="Address1;nvarchar" />
        <add name="Address2" defaultValue="" customProviderData="Address2;nvarchar" />
        <add name="Address3" defaultValue="" customProviderData="Address3;nvarchar" />
        <add name="Address4" defaultValue="" customProviderData="Address4;nvarchar" />
        <add name="PhoneHome" defaultValue="" customProviderData="PhoneHome;nvarchar" />
        <add name="PhoneMobile" defaultValue="" customProviderData="PhoneMobile;nvarchar" />
        <add name="PhoneOffice" defaultValue="" customProviderData="PhoneOffice;nvarchar" />
        <add name="Fax" defaultValue="" customProviderData="Fax;nvarchar" />
        <add name="ContactMethod" defaultValue="" customProviderData="ContactMethod;nvarchar" />
      </properties>
    </profile>
    <membership defaultProvider="SqlProvider">
      <providers>
        <clear />
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSqlServer" applicationName="/" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="10" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=".*" />
      </providers>
    </membership>
    <!--identity impersonate="true" userName="sa" password="AlliedPensions2011"/-->
    <roleManager enabled="true" defaultProvider="SqlRoleManager">
      <providers>
        <clear />
        <add name="SqlRoleManager" type="System.Web.Security.SqlRoleProvider" connectionStringName="LocalSqlServer" applicationName="/" />
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.0" tempDirectory="C:\SOURCE\APT2012_TEMP17112013">
      <assemblies>
        <add assembly="Infragistics35.Web.v9.1, Version=9.1.20091.1015, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics35.WebUI.Shared.v9.1, Version=9.1.20091.1015, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics35.WebUI.UltraWebChart.v9.1, Version=9.1.20091.1015, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics35.WebUI.UltraWebGauge.v9.1, Version=9.1.20091.1015, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics35.WebUI.WebDataInput.v9.1, Version=9.1.20091.1015, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics35.WebUI.WebDateChooser.v9.1, Version=9.1.20091.1015, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics35.WebUI.WebNavBar.v9.1, Version=9.1.20091.1015, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics35.WebUI.WebResizingExtender.v9.1, Version=9.1.20091.1015, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <!--
              The <authentication> section enables configuration 
              of the security authentication mode used by 
              ASP.NET to identify an incoming user. 
          -->
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" defaultUrl="Default.aspx" timeout="20">
      </forms>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>

    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="500000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.50831.0" newVersion="4.1.50831.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>