<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>

    <add key="smtpserver" value="COLUMBIA.APT2000.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="fromemail" value="aptonline@alliedpensions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="fromemailname" value="APT Online" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="toemail" value="website@alliedpensions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="ServerName" value="WEBDEV-G4"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DatabaseName" value="APT2012"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SQLUserId" value="sa"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SQLUserPassword" value="Pension1"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="ReportServerUser" value="Reporting"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReportServerPassword" value="sorpreport"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReportServerDomain" value="apt2000"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReportServerUrl" value="http://WEBDEV-G4/ReportServer"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="log4netFile" value="E:\APTSITES\APTLOG\APTReporting.dll.log4net"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <connectionStrings>
    <add name="LocalSqlServer" connectionString="Data Source=WEBDEV-G4;Initial Catalog=APT2012;Trusted_Connection=false;User Id=sa;Password=Pension1;Integrated Security=false"
                                        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="APT2012Entities" connectionString="metadata=res://*/APT2012Model.csdl|res://*/APT2012Model.ssdl|res://*/APT2012Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WEBDEV-G4;Initial Catalog=APT2012;Trusted_Connection=No;User Id=sa;Password=Pension1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"
                                        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>