@media print {

    body
    {
        background-color: White;
        font-size: 90%;
    }
    
    .nav 
    {
        width: 0;
    }
    
    .topnav, .nav
    {
        display: none;
    }
    
    .content 
    {
        width: 100%;
        margin: 0;
        border: 0;
    }
    
}