<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p>
        The following form was submitted from APT IPPP .</p>
    <table cellspacing="0" cellpadding="3" border="1" width="90%">
        <tr>
            <td>
                Logged In User:
            </td>
            <td>
                {0}
            </td>
        </tr>
        <tr>
            <td>
                Option :
            </td>
            <td>
                {1}
            </td>
        </tr>
    </table>
</body>
</html>
